<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a class="direction" href="/movie">Enter a new movie</a>
    <h2><%= welcome %></h2>
    <h1><%= message %></h1>
    <table class="table">
      <thead>
          <tr>
              <th data-field="title">Title</th>
              <th data-field="director">Director</th>
              <th data-field="theater">Theater</th>
              <th data-field="moviegoers">Fellow Moviegoers</th>
              <th data-field="date_seen">Date Viewed</th>
              <th data-field="rating">Rating</th>
              <th data-field="favorite">Favorite</th>
              <th data-field="favorite">Edit</th>
              <th data-field="favorite">Delete</th>

          </tr>
      </thead>
      <tbody>
        <% for (var m = 0; m < movies.length; m++) { %>
        <% var currentMovie = movies[m]; %>
        <div class="movie-item" id="movie_<%= currentMovie._id %>">
          <tr>
            <td><%= currentMovie.title %></td>
            <td><%= currentMovie.director %></td>
            <td><%= currentMovie.theater %></td>
            <td><%= currentMovie.moviegoers %></td>
            <td><%= currentMovie.date_seen %></td>
            <td><%= currentMovie.rating %></td>
            <td><%= currentMovie.favorite %></td>
            <td><a class="editButton" id="<%= currentMovie._id %>">Edit</a></td>
            <td><a class="deleteButton" id="<%= currentMovie._id %>">Delete</a></td>
          </tr>
        </div>
        <% } %>
      </tbody>
      </table>

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/javascripts/movieHandler.js"></script>

  </body>
</html>
