<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a class="direction" href="/movie">Enter a new movie</a>
    <h2><%= welcome %></h2>
    <h1><%= message %></h1>

    <% for (var m = 0; m < movies.length; m++) { %>
      <% var currentMovie = movies[m]; %>
      <div class="" id="themovie_<%= currentMovie._id %>">

        <div class="">
          <span class="bold">User:</span> <%= currentMovie.user %>
        </div>

        <div class="">
          <span class="bold">Title:</span> <%= currentMovie.title %>
        </div>

        <div class="">
          <span class="bold">Director:</span> <%= currentMovie.director %>
        </div>

        <div class="">
          <span class="bold">Theater:</span> <%= currentMovie.theater %>
        </div>

        <div class="">
          <span class="bold">Fellow Moviegoers:</span> <%= currentMovie.moviegoers %>
        </div>
        
        <div class="">
          <span class="bold">Date Viewed:</span> <%= currentMovie.date_seen %>
        </div>

        <div class="">
          <span class="bold">Rating:</span> <%= currentMovie.rating %>
        </div>

        <div class="">
          <span class="bold">Favorite:</span> <%= currentMovie.favorite %>
        </div>
      </div>
    <% } %>


    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  </body>
</html>
