<!DOCTYPE html>
<html>
  <head>
    <title><%= username %> profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">
    <link rel='stylesheet' href='/stylesheets/profile.css' />

  </head>
  <body>

<div class="fashion-up">
  <nav class="navbar navbar-default nav-container">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse nav-dothis" id="bs-example-navbar-collapse-1">
      <div class="space">
        <ul class="nav navbar-nav space">
          <li><a href="#">Movie Agenda <span class="sr-only">(current)</span></a></li>
        </ul>
      </div>
      <div>
        <ul class="nav navbar-nav to-right spread-out">
          <li><a href="/movie/">Enter <span class="sr-only">(current)</span></a></li>
          <li><a href="/user/profile">Profile <span class="sr-only">(current)</span></a></li>
          <li><a href="/movie/list">List <span class="sr-only">(current)</span></a></li>
        </ul>
      </div>
      <form class="navbar-form navbar-left" role="search">
      </form>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>
</div>

  <!-- </div> -->
  <div id="banner-photo">
    <span>
      <p>P</p>
    </span>
  </div>


  <div class="content-here">
    <div class="content-holder">
      <div class="to-left">
        <p>Remember some of your favorites...</p>
        <table class="table table-whole">
          <thead>
            <tr>
              <th data-field="title">Title</th>
              <th data-field="director">Director</th>
              <th data-field="theater">Theater</th>
              <th data-field="rating">Rating</th>
              <th data-field="favorite">Favorite</th>
          </tr>
      </thead>
      <tbody>
        <% for (var m = 0; m < 5; m++) { %>
        <% var currentMovie = movies[m]; %>
          <tr id="movie_<%= currentMovie._id %>">
            <td><%= currentMovie.title %></td>
            <td><%= currentMovie.director %></td>
            <td><%= currentMovie.theater %></td>
            <td><%= currentMovie.rating %></td>
            <td><%= currentMovie.favorite %></td>
          </tr>
        <% } %>
      </tbody>
      </table>
      </div>
      <div class="tr-right">
        <div class="yr-details">
          <p>Your Details</p>
        </div>
        <div class="push-down">
          <i class="fa fa-user"></i>
            Username: <%= username %>
        </div>
        <div>
          <i class="fa fa-film"></i>
            Number of Movies Noted: <%= movies.length %>
        </div>
      </div>
    </div>
  </div>


  <div id="footWrapp">
    <div id="topFooter">
          <div class="row footerNav">
            <ul class="footerUl">
              <li class="reading">Some Recommended Reading:</li>
            </ul>
            <ul class="footerUl">
              <li><a href="http://www.avclub.com">The A.V. Club</a></li>
              <li><a href="http://www.vulture.com">Vulture</a></li>
              <li><a href="http://www.pastemagazine.com">Paste</a></li>
              <li><a href="http://www.imdb.com">IMDB</a></li>
              <li><a href="http://www.metacritic.com">Metacritic</a></li>
            </ul>
          </div>
    </div>
  </div>
  </body>
</html>
